<footer class="footer">
  <small>
    The <a href="https://railstutorial.jp/">RGRAM</a>
    by <a href="http://www.michaelhartl.com/">Michael Hartl</a>
  </small>
  <% unless current_page?(about_path) %>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
    </ul>
  </nav>
  <% end %>
</footer>